/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

header{
	padding: 30px;
	background-color: #006060;
	font-size: 24pt;
	color: #FFF;
	text-align: center;
}

.wine-collection table {
	border-collapse: collapse;

	tr,td,th {
	border: 1px solid $five;
	border-collapse: collapse;
	padding: 5px;
	margin: 0px;
	color: #000;
	}
	
	th {
		background-color: $five;
		color: #FFF;
	}
}